.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18%;
  align-items: center;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerTitle {
  padding: 20px;
}
.getPhoto {
  background-color: #d4d6bc;
  border: none;
  color: rgb(58, 57, 57);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px;
}

#containerImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.containerImg {
  width: 100%;
  height: auto;
}
